html {
  background-image: url('MaterialeEsercizioLim/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 4%;
}

.logo {
  width: 180px;
  display: block;
  margin: auto;
  margin-bottom: 1%;
}

header {
  text-align: center;
  font-size: 25px;
  color: #7CFC00;
  margin-bottom: 1%;

}

nav {
  background-color: #7CFC00;
  text-align: center;
  padding: 9px;

}

.charge {
  margin-left: 0px;
  border-radius: 9px;
  margin-bottom: 1px;
}

.half {
  border: 10px solid #FFD700;
  width: 35%;
}

.full {
  border: 10px solid #32CD32;
  width: 60%;
}

.empty {
  border: 10px solid #DC143C;
  width: 10%;
}

main {
  margin-bottom: 0px;
  line-height: 3px;
  padding: 1px;
}

p {
  font-family: sans-serif;
}
